#achievement {
	margin: 10px 15px 0;
	line-height: 1.42857143;
}

#achievement .row {
	margin-left: -2px;
	margin-right: -2px;
}

#achievement .row > div {
	padding-left: 2px;
	padding-right: 2px;
}

#achievement .panel {
	margin-bottom: 4px;
}

#achievement .panel.info .panel-body {
	height: 300px;
	overflow: hidden;
	padding: 4px;
}

#achievement .panel-title {
	font-size: 14px;
}

#achievement .panel-title .fa {
	margin-right: 5px
}

/* 战果信息 */
#achievement .senka-info .table tbody tr td {
	padding-top: 25px;
	white-space: nowrap;
}

#achievement .senka-info .senka-title {
	width: 60px;
}

#achievement .senka-info tr .pob {
	position: relative;
}

#achievement .senka-info tr .senka-up {
	opacity: 0.75;
}

#achievement .senka-info tr .pos {
	position: absolute;
	padding: 0 18px 0 5px;
	line-height: 18px;
	border-bottom-right-radius: 18px;
	top: 0;
	left: 0;
	white-space: nowrap;
	opacity: 0.9;
}

#achievement .senka-info .revise {
	float: right;
}

#achievement .senka-info .revise.active {
	animation: rotateIcon 1s linear infinite ;
}

@keyframes rotateIcon{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

/* 战果计算 */
#achievement .senka-calc .flex {
	display: flex;
	line-height: 26px;
	height: 26px;
}

#achievement .senka-calc table {
	margin-bottom: 15px;
}

#achievement .senka-calc .flex .flex-auto {
	flex: 1;
	padding-left: 10px;
}

#achievement .senka-calc .flex input {
	height: 26px;
}

#achievement .senka-calc .table tbody tr td {
	white-space: nowrap;
}

#achievement .senka-calc .justified-group {
	display: flex;
	width: 100%;
}

#achievement .senka-calc .justified-group > .btn {
	flex: 1;
}

#achievement .senka-calc .justified-group > .btn .fa {
	margin-right: 2px;
}

#achievement p.short-line {
	margin-bottom: 2px;
}