#achievement {
	margin: 10px 15px 0;
}

#achievement .row {
	margin-left: -2px;
	margin-right: -2px;
}

#achievement .row > div {
	padding-left: 2px;
	padding-right: 2px;
}

#achievement .panel{
	margin-bottom: 4px;
}

#achievement .panel.info .panel-body{
	height: 200px;
	overflow: hidden;
	padding: 4px;
}