#notify {
	margin: 0 15px;
}

#notify .top-control {
	margin-bottom: 10px;
	margin-top: 10px;
}

#notify .row {
	margin-left: -8px;
	margin-right: -8px;
}

#notify .row > div {
	padding-left: 8px;
	padding-right: 8px;
}

#notify .ship-item {
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-bottom: 5px;
	position: relative;
	line-height: 20px;
	background: #333;
	color: #fff;
	text-align: center;
}

#notify .ship-item .ship-name{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	transition: 300ms;
}

#notify .ship-item:hover .ship-name{
	margin-left: -10px;
}

#notify .ship-item .close-btn {
	position: absolute;
	top: 7px;
	right: 5px;
	width: 16px;
	height: 16px;
	text-align: center;
	background: #f00;
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid #f00;
	transform: rotate(45deg);
	transition:transform 500ms;
	cursor: pointer;
	opacity: 0;
}

#notify .ship-item:hover .close-btn {
	opacity: 1;
}

#notify .ship-item .close-btn:hover{
	transform: rotate(225deg);
}

#notify .ship-item .close-btn:before {
	content: ' ';
	display: block;
	width: 7px;
	height: 7px;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;

}

#notify .ship-item .close-btn:after {
	content: ' ';
	display: block;
	width: 7px;
	height: 7px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: transparent;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}